mat-form-field.rate mat-icon {
  font-size: 10px;
}

mat-form-field.rate {
  width: 100px;
}

div.setall mat-form-field.mat-form-field {
  font-size: 12px;
  width: 50px;
}

div.setall button.mat-stroked-button {
  font-size: 14px;
  height: 42px;
  margin: 10px;
}

mat-action-row mat-form-field {
  width: 150px;
}