
mat-form-field.rate {
  width: 100%;
}

mat-action-row mat-form-field {
  width: 150px;
}

.rates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  column-gap: 10px;
}