<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50">
  </mat-progress-spinner>
</div>
<div *ngIf="form"> 
  <div class="cloudapp-actions">
    <button mat-flat-button color="secondary" [routerLink]="['/']">
      <mat-icon>arrow_back</mat-icon>
      {{'Back' | translate}}
    </button>
    <button mat-flat-button type="button" color="secondary" (click)="reset()" [disabled]="!form.dirty">{{'Settings.Reset' | translate}}</button> 
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!form.dirty">{{'Settings.Save' | translate}}</button>
  </div>
  <h1 translate>Settings.Title</h1>
  <form [formGroup]="form">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rates
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="rates">
        <div *ngFor="let rate of rates.controls">
          <mat-form-field appearance="outline" class="rate" floatLabel="always">
            <mat-label>{{rate.controls.description.value}}</mat-label>
            <input matInput [formControl]="rate.controls.percent" type="number">  
            <button mat-button *ngIf="rate.controls.percent.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="rate.controls.percent.setValue(''); form.markAsDirty()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <mat-action-row>
        <mat-form-field appearance="fill">
          <mat-label>{{'Settings.SetAll' | translate}}</mat-label>
          <input matInput type="number" #setAllVal>
          <mat-icon style="cursor: pointer;" matSuffix (click)="setAll(setAllVal.value); setAllVal.value=''">check_circle_outline</mat-icon>
        </mat-form-field>
      </mat-action-row> 
    </mat-expansion-panel>
  </form>
</div>